.h1Style{
    font-family: monospace;
    font-size: 45px;
    padding-top: 190px;
    z-index: 1;
    margin: 0;
    white-space: pre-wrap;
    position: absolute;
    color: #fff;
    padding-left: 60px;
  };
